body{
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: bisque;
    height: 20vh;
}
#main{
    display: flex;
}
#main article{
    flex: 1;
}
#main nav{
    background-color: aqua;
    width: 14vh;
    order: 1;
}
#main aside{
    background-color: pink;
    height: 50vh;
    width: 14vh;
}